[submodule "Cache"]
	path = Cache
	url = https://github.com/ngcmpc/Redis.git
[submodule "Message-Dispatcher"]
	path = Message-Dispatcher
	url = https://github.com/ngcmpc/Dispatcher.git
[submodule "Event-Publisher"]
	path = Event-Publisher
	url = https://github.com/ngcmpc/Publisher.git
[submodule "MQTT-broker"]
	path = MQTT-broker
	url = https://github.com/ngcmpc/MQTT-broker.git
[submodule "Other"]
	path = Other
	url = https://github.com/ngcmpc/Other.git
